<ion-header>
  <app-toolbar title="Artes">
  </app-toolbar>
</ion-header>

<ion-content>

  <ion-card [routerLink]="['1234']">
    <img src="https://app.geradordeartes.com.br/img/656ade98-f86c-402b-ae59-8153ea08355f.jpg" />
    <ion-card-header>
      <ion-card-title>Arte 1</ion-card-title>
    </ion-card-header>
  </ion-card>  

  <ion-card>
    <img src="https://i.imgur.com/vTXdp1Q.jpg" />
    <ion-card-header>
      <ion-card-title>Arte 2</ion-card-title>
    </ion-card-header>
  </ion-card>   
     
</ion-content>
