<ion-header>
  <app-toolbar color="tertiary" title="Artes">
  </app-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngFor="let art of arts; let i = index;">
    <ion-col>
      <ion-card [routerLink]="['/pages/arts/', arts[i].id]">
        <img src="{{arts[i].url}}.jpg" />
      </ion-card>      
    </ion-col>
    <ion-col >
      <ion-card *ngIf="arts[i + 1]" [routerLink]="['/pages/arts/', arts[i + 1].id]">
        <img src="{{arts[i + 1].url}}.jpg" />
      </ion-card>      
    </ion-col>
  </ion-row>
<!--              
  <div *ngFor="let art of arts; let i = index">
    <ion-card [routerLink]="['/pages/arts/', art.id]">
      <img src="{{art.url}}.jpg" />
    </ion-card>  
  </div>
  -->                
</ion-content>
