<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Art 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://app.geradordeartes.com.br/img/656ade98-f86c-402b-ae59-8153ea08355f.jpg" alt="">
  </ion-card>

    <div style="text-align: center;">
      <ion-button style="margin: 5px;">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button style="margin: 5px;">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </div>
</ion-content>
