<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Art 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img *ngIf="art" src="{{art.url}}.jpg" alt="">
  </ion-card>

    <div style="text-align: center;">
      <ion-button (click)="deleteArt()" style="margin: 5px;">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="download()" style="margin: 5px;">
        <ion-icon  name="download-outline"></ion-icon>
      </ion-button>
    </div>
</ion-content>
